.asidePanel {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 2 / 5;

    display: flex;

    background-color: var(--secondary);
    border-right: 1px solid var(--primary);
    padding: 0;
    width: auto;
}

.fullWidth {
    grid-column: 1 / -1;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    width: 60px;

    background-color: var(--primary);
}

.nav button {
    color: var(--secondary);
    width: 50px;
}

.content {
    width: 100%;
    min-width: 200px;
}

.channel {
    cursor: pointer;
    color: var(--primary);
    text-decoration: underline;
}

.header {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid var(--primary);
    line-height: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.channels {
    text-align: center;
    list-style: none;
    overflow-y: auto;
    overflow-x: hidden;
}

.search {
    width: 0;
    flex-grow: 1;
    height: 100%;
    margin-left: 10px;
    border: none;
    outline: none;
    background-color: transparent;
}

.createChannelButton {
    cursor: pointer;
}

.close {
    position: absolute;
    transition: 0.2s;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    border: var(--close-aside-height) solid transparent;
    border-right: var(--close-aside-height) solid var(--primary);
    cursor: pointer;
    opacity: 0.4;
}

.close:hover {
    opacity: 1;
}

.open {
    position: absolute;
    transition: 0.2s;
    right: -40px;
    top: 50%;
    transform: translate(0, -50%);
    border: var(--close-aside-height) solid transparent;
    border-left: var(--close-aside-height) solid var(--primary);
    cursor: pointer;
    opacity: 0.4;
}

.open:hover {
    opacity: 1;
}

